/*-----------------Fonts----------------------*/

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:ital@1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap");

/*---------------HeaderNav--------------------*/

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: max-content;
  height: 20vh;
  padding-left: 5px;
  padding-right: 5px;
}

#name-header {
  display: flex;
  align-items: center;
}

#home-link {
  text-decoration: none;
  color: black;
  font-family: "Lobster", cursive;
  font-size: xx-large;
}

#page-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
}

#head-links {
  text-decoration: none;
  color: black;
  font-family: "Merriweather", serif;
  font-size: x-large;
}

/*-------------------Home-Page-----------------------*/


.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 80vh;
  font-family: "Spectral", serif;
}

.home-image-wrapper {
  display: flex;
}

#beast {
  width: 30vw;
  height: 50vh;
}

.currentWinner {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding-left: 2vw;
}

/*-----------------------Members-Page-------------------------*/

.current-members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: max-content;
}

.member-head {
  display: flex;
  justify-content: center;
  background-color: seagreen;
  font-family: "Lobster", cursive;
}

#name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
}


.bomby-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,34,68);
  color: rgb(251,79,20);
  width: 40vw;
  border: 5px rgb(251,79,20) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#bomby-profPic {
  width: 10vw;
  border-radius: 8px;
  border: 5px rgb(251,79,20) solid;
}

.ricky-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,76,84);
  width: 40vw;
  border: 5px rgb(165,172,175) solid;
  color:rgb(165,172,175);
  border-radius: 25px;
  padding-right: 5px;
}

#ricky-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(165,172,175) solid;
}

.gj-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,128,198);
  color: white;
  width: 40vw;
  border: 5px rgb(255,194,14) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#gj-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(255,194,14) solid;
}

.chris-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:rgb(251,79,20) ;
  color: white;
  width: 40vw;
  border: 5px black solid;
  border-radius: 25px;
  padding-right: 5px;
}

#chris-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px black solid;
}

.matt-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(170,0,0);
  color: rgb(176,183,188);
  width: 40vw;
  border: 5px rgb(173,153,93) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#matt-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(173,153,93) solid;
}

.joe-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(227,24,55);
  color: white;
  width: 40vw;
  border: 5px rgb(255,184,28) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#joe-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(255,184,28) solid;
}

.strick-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,51,141);
  color: rgb(198,12,48);
  width: 40vw;
  border: 5px rgb(198,12,48) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#strick-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(198,12,48) solid;
}

.forest-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(198,12,48);
  color: rgb(0,51,141);
  width: 40vw;
  border: 5px rgb(0,51,141) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#forest-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(0,51,141) solid;
}

.jeff-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,34,68);
  color: rgb(176,183,188);
  width: 40vw;
  border: 5px rgb(198,12,48) solid;
  border-radius: 25px;
  padding-right: 5px;
}

#jeff-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(198,12,48) solid;
}

.tucker-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(49,29,0);
  color: white;
  width: 40vw;
  border: 5px rgb(255,60,0) solid;
  border-radius: 25px;
  padding-right: 5px;
}
#tucker-profPic {
  height: 20vh;
  border-radius: 8px;
  border: 5px rgb(255,60,0) solid;
}
